################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/devexsample1/bin
/devexsample1/obj/Debug
